@import '../../styles/config';

.Radio {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 0 spacing() 0;
}

.Input {
  @include visually-hidden;

  &:hover:not(:disabled) {
    & ~ .Control .SvgUnchecked svg {
      fill: color(gray, 4);
    }
  }

  &:checked {
    & ~ .Control .SvgUnchecked {
      opacity: 0;
    }

    & ~ .Control .SvgChecked {
      opacity: 1;
    }
  }

  &:disabled  ~ .Control .SvgChecked,
  &:disabled  ~ .Control .SvgUnchecked {
    cursor: not-allowed;
    svg {
      fill: color(gray, 5);
    }
  }
}

.Control:hover {
  cursor: pointer;
}

.SvgUnchecked, .SvgChecked {
  position: absolute;
  top: 0;
  left: 0;

  &, & > svg {
    transition: 0.15s;
  }
}

.Control {
  display: block;
  position: relative;
  height: 21px;
  width: 21px;
}

.SvgUnchecked {
  opacity: 1;
  svg { fill: color(gray, 6) }
}

.SvgChecked {
  opacity: 0;
  svg { fill: color(blue) }
}

.Label {
  position: absolute;
  padding-left: 27px;
  padding-top: 3px;
  white-space: nowrap;
}

.Group {
  display: block;
  margin-bottom: spacing();

  & > * {
    margin-bottom: spacing(small);
  }

  &:last-child {
    margin: 0;
  }
}

.HelpText {
  padding-top: rem(5);
  font-size: font-size(300);
  line-height: line-height(300);
  color: color(gray, 4);
  padding-left: 27px;
}
