@import '~@sparkpost/design-tokens/dist/index.scss';

.TokenUsage {
  display: inline-block;
  padding: 2px 8px;
  background: #eeeef5;
  border-radius: 2px;

  code {
    font-family: font-family(monospace);
    font-size: 14px;
  }

  &:hover {
    cursor: pointer;
  }
}
