@import '../../styles/config';

.Pagination {
  margin-bottom: spacing();
}

.Back {
  margin-right: spacing(small);
}

.Next {
  margin-left: spacing(small);
}

.Pages {
  display: inline-block;
}

.Page, .Start, .End {
  width: rem(39);
}

.Selected {
  font-weight: 700;
  color: color(orange);
}

.Ellipse {
  margin-left: spacing(small);
  margin-right: spacing(small);
  fill: color(gray, 6);
}
