.Panel {
  position: relative;
  background: #fff;
  box-shadow: 0px 1px 3px #E1E1E6;
  border-radius: 2px;
}

.Panel-accent {
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: adjust-hue(orange, -10);
    height: 3px;
    border-radius: 2px 2px 0 0;
  }
}

.Header {
  padding: 21px;
  border-bottom: 1px solid #E1E1E6;
  font-weight: 600;

  & > * {
    margin: 0;
  }
}

.Body {
  padding: 21px;
}
