@import '../../styles/config';

.Panel {
  position: relative;
  margin-bottom: rem(18);
  background: #fff;
  box-shadow: shadow();
  border-radius: border-radius();
}

.accent {
  &:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: color(orange);
    height: 3px;
    border-radius: border-radius() border-radius() 0 0;
  }
}

.Header {
  padding: rem(18);
  border-bottom: 1px solid color(gray, 9);
  font-weight: 600;
}

.HeaderText {
  margin: 0;
}

.Body {
  padding: rem(18);
  border-bottom: 1px solid color(gray, 9);

  &:last-child {
    border-bottom: none;
  }
}
