@import '../../styles/config';

.Panel {
  position: relative;
  margin-bottom: rem(18);
  background: color(gray, 10);
  box-shadow: shadow();
  border-radius: border-radius();
}

.accent {
  &:before {
    display: block;
    content: "";
    background: color(orange);
    height: 3px;
    border-radius: border-radius() border-radius() 0 0;
  }
}

.Header, .Body {
  display: flex;
  padding: rem(18);
  border-bottom: 1px solid color(gray, 9);
}

.Header {
  font-weight: 600;
}

.HeaderText {
  @include text-style-small-heading;
  color: color(gray, 1);
  line-height: rem(30);
  margin: 0;
}

.Body {
  &:last-child {
    border-bottom: none;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.Actions {
  flex: 0;
  white-space: nowrap;
}

.SectionContent, .HeaderText {
  flex: 1 0 0;
  padding-right: spacing(small);
}

.SectionContent *:last-child {
  margin-bottom: 0;
}
