@import '../../styles/config';

.Banner {
  position: relative;
  display: flex;
  padding: spacing();
  margin-bottom: spacing();

  border-radius: border-radius();
  box-shadow: shadow();

  background: color(gray, 10);

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;

    width: 5px;
    background: color(gray, 6);
    border-radius: border-radius() 0 0 border-radius();
  }
}

.success {
  &:before {
    background: color(green);
  }
}

.info {
  &:before {
    background: color(blue);
  }
}

.warning {
  &:before {
    background: color(yellow, light);
  }
}

.danger {
  &:before {
    background: color(red);
  }
}

.IconWrapper {
  position: relative;
  flex: 1 0 0;
  max-width: 52px;
  margin-right: 18px;
  height: 40px;
}

.Content {
  flex: 1 0 0;
  padding-right: rem(39);

  & > *:last-child {
    margin-bottom: 0;
  }
}

.Children {
  &, & * {
    font-size: font-size(300);
  }
}

.Title {
  margin-bottom: 0;
  font-size: font-size(600);
}

.Actions {
  margin-top: spacing();

  & > * {
    display: inline-block;
    margin-right: spacing();
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.Icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.successIcon {
  fill: color(green);

  & + .IconBackdrop {
    box-shadow: 0 0 0 7px rgba(color(green), 0.25);
  }
}

.infoIcon {
  fill: darken(color(blue), 8);

  & + .IconBackdrop {
    box-shadow: 0 0 0 7px rgba(color(blue), 0.25);
  }
}

.warningIcon {
  fill: lighten(color(yellow), 4);

  & + .IconBackdrop {
    box-shadow: 0 0 0 7px rgba(color(yellow), 0.25);
  }
}

.dangerIcon {
  fill: color(red);

  & + .IconBackdrop {
    box-shadow: 0 0 0 7px rgba(color(red), 0.25);
  }
}

.IconBackdrop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: color(gray, 10);
}

.Dismiss {
  position: absolute;
  right: rem(18);
  top: rem(24);
  border-bottom: none;
  user-select: none;

  &:hover {
    .DismissIcon {
      fill: color(gray, 1);
    }
  }
}

.DismissIcon {
  fill: color(gray, 4);
}
