$color-prefix: "color";
$color-map: map-get($matchbox-tokens, $color-prefix);

@each $catKey, $cat in $color-map {
  @each $colorKey, $color in $cat {
    @if $catKey == "white" {
      .color-white {
        color: $color;
      }
    }
    @if $catKey != "white" {
      .#{$color-prefix}-#{$catKey}-#{$colorKey} {
        color: $color;
      }
    }
  }
}

@each $interaction in $interactions {
  @each $catKey, $cat in $color-map {
    @each $colorKey, $color in $cat {
      @if $catKey == "white" {
        .#{$interaction}:color-white:#{$interaction} {
          color: $color;
        }
      }
      @if $catKey != "white" {
        .#{$interaction}:#{$color-prefix}-#{$catKey}-#{$colorKey}:#{$interaction} {
          color: $color;
        }
      }
    }
  }
}

@each $mqKey, $mq in $media-query-map {
  @media (min-width: #{$mq}) {
    @each $catKey, $cat in $color-map {
      @each $colorKey, $color in $cat {
        @if $catKey == "white" {
          .#{$mqKey}:color-white {
            color: $color;
          }
        }
        @if $catKey != "white" {
          .#{$mqKey}:#{$color-prefix}-#{$catKey}-#{$colorKey} {
            color: $color;
          }
        }
      }
    }
  }
}