@use 'sass:map';
@use 'design-tokens/dist/scss/maps.scss' as maps;
@use 'settings.scss' as settings;

$font-family-prefix: "font-family";
$font-family-map: map.get(maps.$matchbox-tokens, $font-family-prefix);

@each $ffKey, $ff in $font-family-map {
  .#{$font-family-prefix}-#{$ffKey} {
    font-family: #{$ff};
  }
}

@each $mqKey, $mq in settings.$media-query-map {
  @media (min-width: #{$mq}) {
    @each $ffKey, $ff in $font-family-map {
      .#{$mqKey}:#{$font-family-prefix}-#{$ffKey} {
        font-family: #{$ff};
      }
    }
  }
}
