@use 'sass:map';
@use 'design-tokens/dist/scss/maps.scss' as maps;
@use 'settings.scss' as settings;

$line-height-prefix: "line-height";
$line-height-map: map.get(maps.$matchbox-tokens, $line-height-prefix);

@each $lhKey, $lh in $line-height-map {
  .#{$line-height-prefix}-#{$lhKey} {
    line-height: #{$lh};
  }
}

@each $mqKey, $mq in settings.$media-query-map {
  @media (min-width: #{$mq}) {
    @each $lhKey, $lh in $line-height-map {
      .#{$mqKey}:#{$line-height-prefix}-#{$lhKey} {
        line-height: #{$lh};
      }
    }
  }
}
