$motion-duration-prefix: "motion-duration";
$motion-duration-map: map-get($matchbox-tokens, $motion-duration-prefix);

@each $mdKey, $md in $motion-duration-map {
  .#{$motion-duration-prefix}-#{$mdKey} {
    transition-duration: #{$md};
  }
}

@each $interaction in $interactions {
  @each $mdKey, $md in $motion-duration-map {
    .#{$interaction}\:#{$motion-duration-prefix}-#{$mdKey}:#{$interaction} {
      transition-duration: #{$md};
    }
  }
} 

@each $mqKey, $mq in $media-query-map {
  @media (min-width: #{$mq}) {
    @each $mdKey, $md in $motion-duration-map {
      .#{$mqKey}:#{$motion-duration-prefix}-#{$mdKey} {
        transition-duration: #{$md};
      }
    }
  }
}
