@use 'sass:map';
@use 'design-tokens/dist/scss/maps.scss' as maps;
@use 'settings.scss' as settings;

$motion-ease-prefix: "motion-ease";
$motion-ease-map: map.get(maps.$matchbox-tokens, $motion-ease-prefix);

@each $meKey, $me in $motion-ease-map {
  .#{$motion-ease-prefix}-#{$meKey} {
    transition-timing-function: #{$me};
  }
}

@each $interaction in settings.$interactions {
  @each $meKey, $me in $motion-ease-map {
    .#{$interaction}\:#{$motion-ease-prefix}-#{$meKey}:#{$interaction} {
      transition-timing-function: #{$me};
    }
  }
} 

@each $mqKey, $mq in settings.$media-query-map {
  @media (min-width: #{$mq}) {
    @each $meKey, $me in $motion-ease-map {
      .#{$mqKey}:#{$motion-ease-prefix}-#{$meKey} {
        transition-timing-function: #{$me};
      }
    }
  }
}
