@use 'sass:map';
@use 'design-tokens/dist/scss/maps.scss' as maps;
@use 'settings.scss' as settings;

$z-index-prefix: "z-index";
$z-index-map: map.get(maps.$matchbox-tokens, $z-index-prefix);

@each $zKey, $z in $z-index-map {
  .#{$z-index-prefix}-#{$zKey} {
    z-index: #{$z};
  }
}

@each $mqKey, $mq in settings.$media-query-map {
  @media (min-width: #{$mq}) {
    @each $zKey, $z in $z-index-map {
      .#{$mqKey}:#{$z-index-prefix}-#{$zKey} {
        z-index: #{$z};
      }
    }
  }
}
