@import '../../styles/config';
$arrow-margin: 10px;

.Activator {
  position: relative;
  display: inline-block;
}

.hover {
  .Tooltip {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

.dark {
  .Tip, .Tooltip {
    background: color(gray, 1);
    border: none !important;
  }

  .Content {
    color: color(gray, 10);
  }
}

.top {
  .Tip {
    top: auto;
    bottom: rem(-14);
    margin: 0 0 rem(7);
    border-top: none;
    border-left: none;
    border-bottom-right-radius: border-radius(large);
    border-top: none;
    border-left: none;
    border-bottom: 1px solid color(gray, 8);
    border-right: 1px solid color(gray, 8);
  }

  .Tooltip {
    top: auto;
    bottom: 100%;
    margin: 0 0 $arrow-margin;
  }
}

.left {
  .Tooltip {
    left: auto;
    right: 0;
  }

  .Tip {
    left: auto;
    right: rem(21);
  }
}

.Tip {
  display: block;
  position: absolute;
  top: rem(-14);
  left: rem(21);
  width: rem(16);
  height: rem(16);

  margin: rem(7) 0 0;

  background: color(gray, 10);
  border-top-left-radius: border-radius(large);
  border-top: 1px solid color(gray, 8);
  border-left: 1px solid color(gray, 8);
  transform: rotate(45deg);
  z-index: -1;
}

.Tooltip {
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  max-height: rem(198);

  background: color(gray, 10);
  margin: $arrow-margin 0 0;
  padding: rem(12);
  box-shadow: shadow(deeper);
  border-radius: border-radius(large);
  border: 1px solid color(gray, 8);

  opacity: 0;
  pointer-events: none;
  transform: translate(0, 0) scale(0.96);
  transition: 0.06s ease-out;
}

.Content {
  position: relative;
  z-index: 1;
  border-radius: border-radius(large);
  max-height: rem(189);
  overflow: hidden;

  word-break: normal;
  text-align: left;
  font-size: font-size(300);
  font-weight: 400;
  line-height: rem(21);
}
