@import '~@sparkpost/design-tokens/tokens.scss';
@import 'vendor/normalize';

html {
  position: relative;
  box-sizing: border-box;
  font-size: $DEFAULT_FONT_SIZE + 0px;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  color: color(gray, 900);
  font-family: font-family();
  font-size: font-size(300);
  line-height: line-height(300);
  font-weight: 400;
}

* {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: font-size(700);
  line-height: font-size(700);
}

h2 {
  font-size: font-size(600);
  line-height: font-size(600);
}

h3 {
  font-size: font-size(500);
  line-height: font-size(500);
}

h4 {
  font-size: font-size(400);
  line-height: font-size(400);
}

h5 {
  font-size: font-size(300);
  line-height: font-size(300);
}

h6 {
  font-size: font-size(200);
  line-height: font-size(200);
}

p, ul, ol {
  font-size: font-size(300);
  line-height: font-size(300);
}

small {
  font-size: font-size(200);
  line-height: line-height(200);
}

strong, b {
  font-weight: 600;
}

::selection {
  color: color(gray, 1000);
  background: color(blue, 300);
  text-shadow: none;
}

code, pre {
  font-family: font-family(monospace);
  font-size: font-size(100);
  line-height: line-height(100);
}

ul,ol,dd,
figure,
pre,table,fieldset,hr {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, pre,
table, fieldset {
  margin: 0;
}

hr {
  margin: spacing(500) 0;
  background: color(gray, 400);
  border: none;
  height: 1px;
}

a, a:visited {
  color: color(blue, 700);

  &:hover, &:active, &:focus {
    color: color(blue, 800);
    cursor: pointer;
  }
}

ul, ol {
  padding-left: spacing(500);
}
