@import 'vendor/normalize';

html {
  position: relative;
  box-sizing: border-box;
  font-size: $base-font-size + 0px;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  color: color(gray, 2);
  font-family: font-family();
  @include text-style-body;
}

* {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  margin-bottom: spacing(base);
  font-size: 1em;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, {
  color: color(gray, 1);
  @include text-style-heading;
}

h3, h4, h5 {
  color: color(gray, 1);
  @include text-style-small-heading;
}

h6 {
  color: color(gray, 1);
  @include text-style-smaller-heading;
}

p {
  @include text-style-body;
}

strong, b, th {
  font-weight: 600;
}

::selection {
  color: #111;
  background: #D6EDFF;
  text-shadow: none;
}

code, pre {
  font-family: font-family(monospace);
}

ul,ol,dd,
figure,
pre,table,fieldset,hr {
  margin-top: 0;
  margin-bottom: spacing();
}

a, a:visited {
  color: color(blue);
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: color(blue, dark);
    cursor: pointer;
  }
}

small {
  font-size: font-size(300);
  color: color(gray, 3);
}

ul, ol {
  padding-left: spacing(larger);
}
