
$color-map: (
  orange: (
    base: #fa6423,
    dark: #e9591b
  ),

  blue: (
    base: #37aadc,
    dark: #2693c3
  ),

  gray: (
    base : #55555a,
    0    : #000000,
    1    : #414146,
    2    : #55555a,
    3    : #6e6e73,
    4    : #828287,
    5    : #aaaaaf,
    6    : #bebec3,
    7    : #d2d2d7,
    8    : #e1e1e6,
    9    : #f2f2f5,
    10   : #ffffff
  ),

  green: (
    base: #9bcd5a
  ),

  magenta: (
    base: #b94696
  ),

  mustard: (
    base: #e3af00
  ),

  teal: (
    base: #0097b3
  ),

  red: (
    base: #f00a0a,
    dark: #D93845,
    darker: #CD202B
  ),
);

// Returns color hex code
// @param {String} $hue - The base color hue
// // @param {String} $value - The color hue variant
// @return {Color} The color hex code

@function color($hue, $value: base) {
  $hue-map: map-get($color-map, $hue);
  $color: map-get($hue-map, $value);

  @if type-of($color) == color {
    @return $color;
  } @else {
    @error 'Color `#{$hue} - #{$value}` not found.';
  }
}
