@import '../../../matchbox/src/styles/config.scss';

.Title {
  font-size: rem(40);
  font-weight: bold;
  color: color(gray, 0);
  margin-bottom: spacing(small);
}

.Description {
  font-size: rem(18);
}

.ButtonWrapper > * {
  margin-right: spacing(small);
}
