@import '../../../matchbox/src/styles/config.scss';

.Title {
  font-size: rem(36);
  font-weight: bold;
  color: color(gray, 0);
  margin-bottom: 0;
}

.Description {
  font-size: rem(18);
  margin-bottom: spacing(larger);
}

.Link, .Link:visited {
  color: color(gray, 0);
}

.ButtonWrapper > * {
  margin-right: spacing();
}
