{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },

  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // doesn't work with jest-in-case
    "jest/no-standalone-expect": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "react/prop-types": 1
  },
  "extends": ["plugin:react/recommended", "plugin:jest/recommended", "plugin:prettier/recommended"],
  "plugins": ["lodash", "jest", "prettier"],
  "overrides": [
    {
      "files": ["*.test.js", "**/dist/*.js"],
      "rules": {
        "max-lines": "off"
      }
    },
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": ["plugin:@typescript-eslint/recommended", "prettier/@typescript-eslint"],
      "rules": {
        "@typescript-eslint/ban-ts-ignore": "off",
        "@typescript-eslint/ban-ts-comment": "off"
      }
    }
  ]
}
