{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "phantomjs": true
  },
  "rules": {
    "block-spacing": [
      "error",
      "always"
    ],
    "complexity": "off",
    "react/jsx-no-bind": "off",
    "max-lines": [
      "error",
      {
        "max": 150,
        "skipComments": true,
        "skipBlankLines": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ],
    "one-var": [
      "error",
      "never"
    ],
    "operator-linebreak": [
      "error",
      "after",
      {
        "overrides": {
          "?": "before",
          ":": "before"
        }
      }
    ],
    "lodash/chaining": [
      "error",
      "never"
    ],
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "never",
        "children": true
      }
    ]
  },
  "extends": [
    "react-app",
    "sparkpost",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "lodash",
    "jest"
  ],
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "max-lines": "off"
      }
    }
  ]
}
