# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/packages/matchbox/matchbox.js
/packages/matchbox/matchbox.es.js
/packages/matchbox/styles.css
/packages/matchbox/styles.scss
/packages/matchbox-icons/matchbox-icons.js
/packages/matchbox-icons/matchbox-icons.es.js

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
