{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": true,
    "selector-type-no-unknown": null
  }
}
