@import '~@sparkpost/design-tokens/dist/font-family.map.scss';
@import '~@sparkpost/design-tokens/dist/font-size.map.scss';
@import '~@sparkpost/design-tokens/dist/line-height.map.scss';

@mixin text-style-body {
  font-size: font-size(400);;
  font-weight: 400;
  line-height: line-height(400);
}

@mixin text-style-heading {
  font-size: font-size(700);;
  font-weight: 600;
  line-height: line-height(700);
}

@mixin text-style-display-heading {
  font-size: font-size(800);
  font-weight: 600;
  line-height: line-height(800);
}

@mixin text-style-small-heading {
  font-size: font-size(600);
  font-weight: 600;
  line-height: line-height(600);
}

@mixin text-style-smaller-heading {
  font-size: font-size(400);
  font-weight: 600;
  line-height: line-height(300);
}
