$base-font-size: 18;

// Returns rem value from a pixel value
// @param {Number} $n - Pixel value to be converted
// @return {Number} Rem value

@function rem($n) {
  $result: 0rem + $n / $base-font-size;
  @return $result;
}

// Returns em value from a pixel value
// @param {Number} $n - Pixel value to be converted
// @return {Number} em value

@function em($n) {
  $result: 0em + $n / $base-font-size;
  @return $result;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
