@import '~@sparkpost/design-tokens/tokens.scss';

.Wrapper {
  display: flex;
  margin-bottom: spacing(600);
}


.Color {
  height: spacing(400) * 7;
  min-width: spacing(400) * 17;
  max-width: spacing(400) * 17;
  border-radius: 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: color(white);
  font-weight: 400;
  font-size: font-size(500);
}

.Description {
  display: flex;
  flex-direction: column;
  padding: spacing(200) spacing(600);
  justify-content: space-between;
}

.Extra {
  display: flex;
}

.Hex {
  margin-right: spacing(600);
}
