@import '~@sparkpost/design-tokens/dist/index.scss';

.Table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #ebf0f5;

  td {
    position: relative;
    height: 4rem;
    font-size: font-size(300);
    font-weight: 500;
    text-align: center;

    cursor: pointer;
    color: rgba(#2c353d, 0.4);

    &.pass {
      color: #2c353d;
    }

    &.dark {
      color: rgba(#f5f8fa, 0.4);
      &.pass {
        color: #f5f8fa;
      }

      &.selected:after {
        border: 4px solid #f5f8fa;
      }
    }


    &.selected {
      &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 4px solid #2c353d;
      }
    }
  }
}
