@import '~@sparkpost/design-tokens/dist/index.scss';

.SideNavigation {
}

.List {
  margin: 0 0 2rem;
  padding: 0;
}

.ListItem {
  display: block;
  position: relative;
  list-style-type: none;

  &.Selected .Link {
    color: color(gray, 100);

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 4px;
      left: 0;
      right: 0;
      height: 2px;
      background: color(gray, 100);
    }
  }
}

.Link, .Link:visited {
  position: relative;
  display: inline-block;
  padding: spacing(200) 0;

  text-decoration: none;
  color: color(gray, 100);
  font-size: 18px;
  font-weight: 500;
}

.SectionLabel {
  margin: 0 0 spacing(0);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: color(gray, 500);
}
