@import '~@sparkpost/design-tokens/tokens.scss';

.SideNavigation {
}

.List {
  margin: 0 0 spacing(600);
  padding: 0;
}

.ListItem {
  display: block;
  margin: 0 0 spacing(300) 0;
  position: relative;
  list-style-type: none;

  &.Selected .Link {
    color: color(blue, 700);

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 4px;
      left: 0;
      right: 0;
      height: 2px;
      background: color(blue, 700);
    }
  }
}

.Link, .Link:visited {
  position: relative;
  display: inline-block;
  padding: spacing(100) 0;

  text-decoration: none;
  color: color(gray, 900);
  font-size: font-size(400);
  line-height: line-height(400);
  font-weight: 500;
}

.SectionLabel {
  margin: spacing(700) 0 spacing(300);
  font-size: font-size(300);
  font-weight: 500;
  color: color(gray, 500);
}
