@import '../../styles/config';

.EmptyState {
  position: relative;
  height: 100vh;
  padding: 33vh spacing();
}

.Title {
  @include text-style-display-heading;
  margin-bottom: spacing();
  width: auto;

  @media screen and (min-width: breakpoint(small)) {
    width: 45%;
  }
}

.Content {
  width: auto;

  @media screen and (min-width: breakpoint(small)) {
    width: 45%;
  }

  p {
    font-size: font-size(600);
    color: color(gray, 3);
    margin-bottom: spacing();
  }
}

.Actions {
  width: auto;

  @media screen and (min-width: breakpoint(small)) {
    width: 45%;
  }

  & > * {
    margin-right: spacing();
  }
}

.SecondaryAction {
  display: inline-block;
  padding-top: spacing();
  white-space: nowrap;
}

.Image {
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 50%;
  max-width: rem(600);
  height: auto;

  transform: translate(0, -50%);

  & > svg {
    height: 100%;
    width: 100%;
  }

  @media screen and (min-width: breakpoint(small)) {
    display: block;
  }
}
