@import '../../styles/config';

.Button,
.Button:visited {
  display: inline-block;
  padding: rem(5) rem(12);
  border: none;
  margin-bottom: 0;

  border-radius: border-radius();

  font-size: font-size(400);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition-property: background, color, border, box-shadow, outline;
  transition-duration: .15s;

  text-decoration: none;
  white-space: nowrap;
  line-height: rem(24);

  &:last-child {
    margin-bottom: 0;
  }

  .Group > * &, .Group > &{
    margin-right: -1px;
    border-radius: 0;

    &:first-child.Button:not(.flat) {
      border-top-left-radius: border-radius();
      border-bottom-left-radius: border-radius();
    }

    &:last-child.Button:not(.flat) {
      border-top-right-radius: border-radius();
      border-bottom-right-radius: border-radius();
    }
  }

  // Default button styling
  background: linear-gradient(180deg, color(gray, 10), color(gray, 9));
  border: 1px solid color(gray, 7);
  color: color(gray, 2);
  box-shadow: shadow();

  &:hover {
    background: linear-gradient(180deg, color(gray, 9), color(gray, 9));
    color: color(gray, 2);
  }

  &:hover:focus {
    box-shadow: shadow(),
                inset 0 3px 4px 0 rgba(color(gray, 2), 0.1);
  }

  &:focus {
    position: relative;
    z-index: 1;
    outline: 0;
    border: 1px solid color(blue);
    box-shadow: 0 0 0 1px color(blue);
  }

  &.disabled {
    opacity: 0.6;
    background: color(gray, 9);
    &:hover {
      background: color(gray, 9);
      cursor: not-allowed;
    }
  }
}

// Color Styles
.color-orange,
.color-orange:visited {
  background: linear-gradient(180deg, color(orange), color(orange, dark));
  color: color(gray, 10);
  border: 1px solid darken(color(orange), 12);

  &:hover {
    color: color(gray, 10);
    background: linear-gradient(180deg, darken(color(orange, dark), 3), darken(color(orange, dark), 3));
  }

  &:focus {
    border: 1px solid darken(color(orange), 12);
    box-shadow: inset 0 3px 4px 0 rgba(color(gray, 2), 0.1),
                0 0 0 2px rgba(color(orange), 0.6);
  }

  &.disabled {
    background: linear-gradient(180deg, color(orange), color(orange, dark));
    &:hover {
      background: linear-gradient(180deg, color(orange), color(orange, dark));
    }
  }

  &.flat {
    color: color(orange);
    &:hover, &:active, &:focus { color: color(orange); }
  }
}

.color-blue,
.color-blue:visited {
  background: linear-gradient(180deg, color(blue), color(blue, dark));
  color: color(gray, 10);
  border: 1px solid darken(color(blue), 12);

  &:hover {
    color: color(gray, 10);
    background: linear-gradient(180deg, darken(color(blue, dark), 3), darken(color(blue, dark), 3));
  }

  &:focus {
    border: 1px solid darken(color(blue), 12);
    box-shadow: inset 0 3px 4px 0 rgba(color(gray, 2), 0.1),
                0 0 0 2px rgba(color(blue), 0.6);
  }

  &.disabled {
    background: linear-gradient(180deg, color(blue), color(blue, dark));
    &:hover {
      background: linear-gradient(180deg, color(blue), color(blue, dark));
    }
  }

  &.flat {
    color: color(blue, dark);
    &:hover, &:active, &:focus { color: color(blue, dark); }
  }
}

.color-navy,
.color-navy:visited {
  background: linear-gradient(180deg, color(navy), color(navy, dark));
  color: color(gray, 10);
  border: 1px solid darken(color(navy), 12);

  &:hover {
    color: color(gray, 10);
    background: linear-gradient(180deg, darken(color(navy, dark), 3), darken(color(navy, dark), 3));
  }

  &:focus {
    border: 1px solid darken(color(navy), 20);
    box-shadow: inset 0 3px 4px 0 rgba(color(gray, 2), 0.1),
                0 0 0 2px color(navy, light);
  }

  &.disabled {
    background: linear-gradient(180deg, color(navy), color(navy, dark));
    &:hover {
      background: linear-gradient(180deg, color(navy), color(navy, dark));
    }
  }

  &.flat {
    color: color(navy);
    &:hover, &:active, &:focus { color: color(navy); }
  }
}

.color-red,
.color-red:visited {
  background: linear-gradient(180deg, color(red), color(red, dark));
  color: color(gray, 10);
  border: 1px solid color(red, dark);

  &:hover {
    color: color(gray, 10);
    background: linear-gradient(180deg, darken(color(red, dark), 3), darken(color(red, dark), 3));
  }

  &:focus {
    border: 1px solid color(red, dark);
    box-shadow: inset 0 3px 4px 0 rgba(color(gray, 2), 0.2),
                0 0 0 2px rgba(color(red, dark), 0.6);
  }

  &.disabled {
    background: linear-gradient(180deg, color(red), color(red, dark));
    &:hover {
      background: linear-gradient(180deg, color(red), color(red, dark));
    }
  }

  &.flat {
    color: color(red);
    &:hover, &:active, &:focus { color: color(red); }
  }
}

.color-purple,
.color-purple:visited {
  background: linear-gradient(180deg, color(purple), color(purple, dark));
  color: color(gray, 10);
  border: 1px solid color(purple, dark);

  &:hover {
    color: color(gray, 10);
    background: linear-gradient(180deg, darken(color(purple, dark), 3), darken(color(purple, dark), 3));
  }

  &:focus {
    border: 1px solid color(purple, dark);
    box-shadow: inset 0 3px 4px 0 rgba(color(gray, 2), 0.2),
                0 0 0 2px rgba(color(purple, dark), 0.6);
  }

  &.disabled {
    background: linear-gradient(180deg, color(purple), color(purple, dark));
    &:hover {
      background: linear-gradient(180deg, color(purple), color(purple, dark));
    }
  }

  &.flat {
    color: color(purple);
    &:hover, &:active, &:focus { color: color(purple); }
  }
}

// Plain Styles
.flat,
.flat:visited {
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
  color: color(gray, 2);

  &:hover, &:active {
    color: color(gray, 1);
    background: color(gray, 9);
    box-shadow: none;
  }

  &:focus {
    color: color(gray, 1);
    box-shadow: 0 0 0 2px color(gray, 7);
    border: none;
  }

  &.disabled {
    opacity: 0.6;
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
}

// Destructive Styles
.destructive,
.destructive:visited {
  color: color(red, dark);

  &:hover {
    color: color(red, dark);
  }
}

// Outline Styles
.outline,
.outline:visited {
  background: transparent;
  color: color(gray, 2) !important;
  border: 1px solid color(gray, 5);

  &:hover {
    background: rgba(color(gray, 2), 0.08);
    color: color(gray, 1);
  }

  &:focus {
    border: 1px solid color(gray, 3);
    background: rgba(color(gray, 3), 0.1);
    box-shadow: shadow(),
                0 0 0 2px color(gray, 4);
  }

  &.disabled {
    background: transparent;
    &:hover {
      background: transparent;
    }
  }
}

// Sizing
.small {
  padding: rem(3) rem(9);
  font-size: font-size(300);
}

.large {
  padding: rem(9) rem(15);
}

.fullWidth {
  display: block;
  width: 100%;
  text-align: center;
}

.Group {
  display: inline-block;
}
