@import '../../styles/config';

.Button {
  padding: spacing(small) spacing();
  border: none;
  margin-bottom: 0;

  border-radius: border-radius();

  font-size: rem(15);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: 0.15s;

  &:last-child {
    margin-bottom: 0;
  }

  // Default button styling

  background: linear-gradient(180deg, color(gray, 9), darken(color(gray, 9), 4));
  border: 1px solid color(gray, 7);
  color: color(gray, 2);
  box-shadow: shadow();

  &:hover {
    background: linear-gradient(180deg, darken(color(gray, 9), 4), darken(color(gray, 9), 4));
  }

  &:hover:focus {
    box-shadow: shadow(),
                inset 0 3px 4px 0 rgba(color(gray, 2), 0.1);
  }

  &:focus {
    outline: 0;
    border: 1px solid color(gray, 5);
    box-shadow: shadow(),
                inset 0 3px 4px 0 rgba(color(gray, 2), 0.1),
                0 0 0 3px color(gray, 7);
  }

  &.disabled:disabled {
    opacity: 0.7;
    &:hover {
      background: linear-gradient(180deg, color(gray, 9), darken(color(gray, 9), 4));
      cursor: not-allowed;
    }
  }
}

// Primary Styles
.primary {
  background: linear-gradient(180deg, color(orange), color(orange, dark));
  color: color(gray, 10);
  border: 1px solid darken(color(orange), 12);

  &:hover {
    background: linear-gradient(180deg, darken(color(orange, dark), 3), darken(color(orange, dark), 3));
  }

  &:focus {
    border: 1px solid darken(color(orange), 20);
    box-shadow: shadow(),
                inset 0 3px 4px 0 rgba(color(gray, 2), 0.1),
                0 0 0 2px darken(color(orange), 20);
  }

  &.disabled:disabled {
    &:hover {
      background: linear-gradient(180deg, color(orange), color(orange, dark));
    }
  }
}

// Destructive Styles
.destructive {
  color: color(red, darker);
}

// Plain Styles
.plain {
  background: transparent;
  box-shadow: none;
  border: none;
  color: color(orange);

  &:hover, &:active {
    background: color(gray, 9);
    box-shadow: none;
  }

  &:focus {
    color: darken(color(orange, dark), 6);
    box-shadow: 0 0 0 2px color(gray, 7);
    border: none;
  }

  &.disabled:disabled {
    opacity: 0.6;
    &:hover {
      background: none;
    }
  }
}

// Sizing
.small {
  padding: spacing(small) spacing();
  font-size: rem(14);
  line-height: rem(15);
}

.large {
  padding: spacing(small) spacing(large);
  line-height: rem(27);
}
