@import '../../styles/config';

.TextField {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 0 spacing() 0;

  &:last-child {
    margin: 0;
  }
}

.InlineError {
  padding-left: spacing(small);
}

.Input {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;

  padding: rem(5) rem(12);

  outline: none;
  border: 1px solid color(gray, 7);
  border-radius: border-radius();

  color: color(gray, 1);
  font-weight: 400;
  font-size: font-size(400);
  line-height: rem(24);

  transition: border 0.15s;

  &.Error {
    border: 1px solid color(red);
    background: rgba(color(red, dark), 0.06);
  }

  &:focus {
    border: 1px solid color(blue);
    box-shadow: 0 0 0 1px color(blue);
  }

  &:disabled {
    background: color(gray, 9);
    color: color(gray, 3);
    cursor: not-allowed;
  }
}

.HelpText {
  padding-top: rem(6);
  font-size: font-size(300);
  line-height: line-height(300);
  color: color(gray, 4);
  word-break: normal;
  word-wrap: normal;
}

.Prefix, .Suffix {
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 0.5;
}

.Prefix {
  left: rem(12);
  padding: rem(6) 0;
}

.Suffix {
  right: rem(12);
  padding: rem(6) 0;
}

.InputWrapper {
  position: relative;
}
