@import '../../styles/config';

.Toggle {
  display: inline-block;
  position: relative;
  height: rem(30);
  width: rem(60);

  *:hover {
    cursor: pointer;
  }
}

.compact {
  height: rem(21);
  width: rem(36);

  .Indicator {
    top: rem(3);
    left: rem(3);
    bottom: rem(3);
    width: rem(15);
  }

  .Input:checked ~ .Indicator {
    transform: translate(rem(15), 0);
  }

  .Input:focus ~ .Outline,
  .Input:active ~ .Outline {
    background: color(gray, 6);
  }

  .Outline {
    background: color(gray, 5);
  }

  .Input:checked ~ .Outline {
    background: color(green);
  }
}

.disabled {
  opacity: 0.9;

  *, *:hover {
    cursor: not-allowed;
  }

  .Labels {
    span {
      opacity: 0.4;
    }
  }
}

.Input {
  @include visually-hidden;

  &:focus ~ .Outline,
  &:active ~ .Outline {
    box-shadow: 0 0 0 1px white, 0 0 0 3px color(blue);
  }

  &:checked {
    & ~ .Indicator {
      transform: translate(rem(29), 0);
    }

    & ~ .Outline {
      background: color(green);
    }
  }
}

.Outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: color(gray, 7);
  border-radius: rem(15);
  border: 1px solid color(gray, 9);
  transition: 0.15s;
}

.Indicator {
  pointer-events: none;
  position: absolute;
  top: rem(3);
  left: rem(3);
  bottom: rem(3);
  width: rem(25);

  background: color(gray, 10);
  transition: 0.15s;

  border-radius: 50%;
  box-shadow: shadow(deep);
}

.Labels {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;

  span {
    position: absolute;
    top: 2px;
    font-size: font-size(200);
    font-weight: 500;
    line-height: 2em;

    &:first-child {
      left: rem(9);
      color: color(gray, 10);
    }

    &:last-child {
      right: rem(10);
    }
  }
}
