@import '../../styles/config';

.Toggle {
  display: inline-block;
  position: relative;
  height: rem(30);
  width: rem(60);

  *:hover {
    cursor: pointer;
  }
}

.compact {
  height: rem(18);
  width: rem(30);

  .Indicator {
    top: 3px;
    left: rem(4);
    width: rem(11);
    height: rem(11);
    background: color(gray, 4);
  }

  .Input:checked ~ .Indicator {
    transform: translate(rem(11), 0);
    background: color(green, dark);
  }

  .Input:focus ~ .Outline,
  .Input:active ~ .Outline {
    box-shadow: 0 0 0 2px white, 0 0 0 4px color(gray, 6);
    border: 2px solid color(gray, 4);
  }

  .Outline {
    background: transparent;
    border: 2px solid color(gray, 4);
  }

  .Input:checked ~ .Outline {
    background: transparent;
    border: 2px solid color(green, dark);
  }
}

.disabled {
  opacity: 0.9;

  *, *:hover {
    cursor: not-allowed;
  }

  &.compact {
    opacity: 0.7;
  }

  .Labels {
    span {
      opacity: 0.4;
    }
  }
}

.Input {
  @include visually-hidden;

  &:focus ~ .Outline,
  &:active ~ .Outline {
    box-shadow: 0 0 0 1px color(blue);
    border: 1px solid color(blue);
  }

  &:checked {
    & ~ .Indicator {
      transform: translate(rem(29), 0);
    }

    & ~ .Outline {
      background: color(blue);
    }
  }
}

.Outline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: color(gray, 8);
  border-radius: rem(15);
  border: 1px solid color(gray, 9);
  transition: 0.15s;
}

.Indicator {
  pointer-events: none;
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  width: rem(25);

  background: color(gray, 10);
  transition: 0.15s;

  border-radius: 100%;
  box-shadow: shadow(deep);
}

.Labels {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;

  span {
    position: absolute;
    top: 3px;
    font-size: rem(12);
    font-weight: 500;
    line-height: 2em;

    &:first-child {
      left: rem(9);
      color: color(gray, 10);
    }

    &:last-child {
      right: rem(10);
    }
  }
}
