.Container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 2rem;
}

.Content {
  display: flex;
}

.Aside {
  flex: 0 0 0;
  min-width: 300px;
}

.Main {
  flex: 1 0 0;
  padding: 0 0 0.5rem 0;
}
