@import '~@sparkpost/design-tokens/tokens.scss';

.Container {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 spacing(600);
}

.Content {
  display: flex;
}

.Aside {
  flex: 0 0 0;
  min-width: 300px;
}

.Main {
  flex: 1 0 0;
  padding: 0 0 spacing(800) 0;
}
