@import '../../styles/config';

.Tabs {
  margin-bottom: spacing();
  padding: 0 rem(18);

  background: color(gray, 10);
  box-shadow: shadow();

  white-space: nowrap;
}

.connectBelow {
  margin-bottom: 0;
  border-top-left-radius: border-radius();
  border-top-right-radius: border-radius();
  border-bottom: 1px solid color(gray, 8);

  & + * {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.Tab, a.Tab {
  position: relative;
  display: inline-block;
  padding: rem(15) 0;
  margin-right: rem(21);

  color: color(gray, 4);
  font-size: rem(14);
  text-decoration: none;

  &:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: rem(4);

    border-radius: 1px;

    opacity: 0;
    transition: 0.15s;
  }

  &:hover, &:active, &:focus {
    color: color(gray, 2);

    &:after {
      background: color(gray, 8);
      opacity: 1;
    }
  }
}

.selected, a.selected {
  &, &:focus {
    color: color(orange);
    pointer-events: none;

    &:after {
      background: color(orange);
      opacity: 1;
    }
  }
}
