@import '../../styles/config';

.Snackbar {
  position: relative;
  display: inline-block;

  border-radius: border-radius(large);
  box-shadow: shadow(deep);
  background: color(gray, 2);

  color: color(gray, 10);
}

.success {
  background: color(green);
}

.danger, .error {
  background: color(red);
}

.warning {
  background: color(yellow, light);
  color: color(gray, 1);

  .Content {
    a, a:visited {
      color: color(gray, 1);
    }
  }

  .Dismiss {
    color: color(gray, 1);
  }

  .DismissIcon {
    fill: color(gray, 1);
  }
}

.Content {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
  padding: rem(12) spacing();
  min-width: rem(200);
  font-weight: 500;
  font-size: font-size(500);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a, a:visited {
    color: color(gray, 10);
    text-decoration: underline;
  }
}

.Dismiss {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  padding: rem(12) spacing();
  border-bottom: none;
  user-select: none;

  color: color(gray, 10);
  font-size: font-size(200);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    .DismissIcon {
      opacity: 1;
    }
  }
}

.DismissIcon {
  fill: color(gray, 10);
  opacity: 0.9;
  transition: opacity 0.15s;
}
