@import '../../styles/config';

.ActionList {
  overflow-y: auto;
  z-index: 1;
}

.Section {
  border-bottom: 1px solid color(gray, 8);

  &:last-child {
    border: none;
  }

  &:first-child {
    margin-top: 3px;
  }
}

.Action, a.Action {
  display: block;
  padding: rem(9) spacing();
  color: color(gray, 4);
  transition: 0.15s;

  &:hover {
    background: color(gray, 9);
    color: color(gray, 1);
  }
}

.highlighted, a.highlighted {
  background: color(gray, 9);
  color: color(gray, 1);
}

.Check {
  float: right;
  margin-left: spacing();
  color: color(orange);
}
