@import '../../styles/config';

.Popover {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: rem(200);

  background: color(gray, 10);
  margin: 13px 0 0;

  box-shadow: shadow(deep);
  border-radius: border-radius(large);
  border: 1px solid color(gray, 8);

  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease-out;
  transition-property: opacity;

  z-index: 1;

  &.entered {
    pointer-events: auto;
    opacity: 1;
  }

  &.exiting, &.exited {
    transition: 0s;
    opacity: 0;
  }

  &.exited {
    pointer-events: none;
  }

  &.sectioned {
    padding: spacing();
  }
}

.Tip {
  display: block;
  position: absolute;
  top: -13px;
  width: 13px;
  height: 13px;

  margin: 6px 0 0;

  background: color(gray, 10);
  border-top-left-radius: border-radius(large);
  border-top: 1px solid color(gray, 8);
  border-left: 1px solid color(gray, 8);
  transform: translate(-50%, 0) rotate(45deg);

  z-index: 1;
}

.Content {
  position: relative;
  z-index: 1;
  border-radius: border-radius(large);
}

.Activator {
  position: relative;
}

.top {
  .Tip {
    top: auto;
    bottom: -13px;
    margin: 0 0 6px;

    border-top: none;
    border-left: none;
    border-bottom: 1px solid color(gray, 8);
    border-right: 1px solid color(gray, 8);
    border-bottom-right-radius: border-radius(large);
  }

  .Popover {
    top: auto;
    bottom: 100%;
    margin: 0 0 13px;
  }
}

.left {
  .Popover {
    left: auto;
    right: 0;
  }

  .Tip {
    left: auto;
    transform: translate(50%, 0) rotate(45deg);
  }
}
