@import '../../styles/config';

.Label {
  display: block;
  margin-bottom: spacing(small);
  font-weight: 400;
  font-size: font-size(300);
  line-height: rem(15);
  color: color(gray, 2);
  user-select: none;

  &:hover {
    cursor: pointer;
  }
};
