@import '../../styles/config';

.Connect {
  position: relative;
  z-index: z-index(content);
  display: flex;
  flex-direction: row;
}

.Primary {
  flex: 1 0 auto;
}

.hasLeft > * {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.hasRight > * {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Left, .Right {
  flex: 0 0 auto;
  *:focus {
    position: relative;
    z-index: z-index(content) + 1;
  }
}

.Left {
  margin-right: -1px;

  & > * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.Right {
  margin-left: -1px;
  & > * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
