@import '../../styles/config';

.Table {
  position: relative;
  text-align: left;
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.HeaderCell {
  padding: rem(15) spacing();
}

.Cell {
  padding: rem(15) spacing();
  word-break: break-all;
}

.Row {
  border-bottom: 1px solid color(gray, 9);

  &:last-of-type:not(:first-of-type) {
    border-bottom: none;
  }
}
