@import '../../styles/config';

.Panel {
  position: relative;
  margin-bottom: rem(18);
  background: color(gray, 10);
}

.PanelInner {
  padding: rem(24);
  border: 1px solid color(gray, 8);
  border-top-color: none;
}

.Accent {
  height: 3px;
}

.accent-blue { background: color(blue); }
.accent-navy { background: color(navy); }
.accent-purple { background: color(purple); }
.accent-red { background: color(red); }
.accent-orange { background: color(orange); }
.accent-gray { background: color(gray, 5); }
.accent-yellow { background: color(yellow); }
.accent-green { background: color(green, dark); }

.Header, .Body {
  display: flex;
}

.Body {
  padding: rem(18) 0;
  border-bottom: 1px solid color(gray, 8);
  &:first-of-type {
    padding-top: 0;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
}

.Header {
  font-weight: 600;
}

.HeaderText {
  @include text-style-smaller-heading;
  color: color(gray, 1);
  margin: 0;
  margin-bottom: rem(12);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Body {
  &:last-child {
    border-bottom: none;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.Actions {
  flex: 0;
  white-space: nowrap;
}

.SectionContent,
.HeaderText {
  flex: 1 0 0;
}

.HeaderText {
  padding-right: spacing(small);
}

.SectionContent > *:last-child {
  margin-bottom: 0;
}

.Footer {
   margin-top: rem(-11);
}

.Right {
  text-align: right;
}

.Left {
  text-align: left;
}
