@import '../../styles/config';

.Panel {
  position: relative;
  margin-bottom: rem(18);
  background: color(gray, 10);
  box-shadow: shadow(shallow);
  border-radius: border-radius(large);
}

.Accent {
  height: 3px;
  border-radius: border-radius(large) border-radius(large) 0 0;
}

.accent-blue { background: color(blue); }
.accent-navy { background: color(navy); }
.accent-purple { background: color(purple); }
.accent-red { background: color(red); }
.accent-orange { background: color(orange); }
.accent-gray { background: color(gray, 5); }
.accent-yellow { background: color(yellow); }
.accent-green { background: color(green, dark); }

.Header, .Body {
  display: flex;
  padding: rem(18);
  border-bottom: 1px solid color(gray, 9);
}

.Header {
  font-weight: 600;
}

.HeaderText {
  @include text-style-small-heading;
  color: color(gray, 1);
  line-height: rem(30);
  margin: 0;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Body {
  &:last-child {
    border-bottom: none;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.Actions {
  flex: 0;
  white-space: nowrap;
}

.SectionContent, .HeaderText {
  flex: 1 0 0;
  padding-right: spacing(small);
}

.SectionContent > *:last-child {
  margin-bottom: 0;
}

.Footer {
   margin-top: rem(-11);
}

.Right {
  text-align: right;
}

.Left {
  text-align: left;
}
