@import '../../styles/config';

.Checkbox {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 0 spacing() 0;
  white-space: nowrap;

  &:last-child {
    margin: 0;
  }
}

.Input {
  @include visually-hidden;

  &:hover{
    & ~ .Control .Box {
      border: 1px solid color(gray, 5);
    }
  }

  &:focus ~ .Control .Box {
    box-shadow: 0 0 0 1px color(blue);
    border: 1px solid color(blue);
  }

  &:checked {
    & ~ .Control .Box {
      border: 1px solid color(blue);
    }

    & ~ .Control .Check {
      opacity: 1;
      transform: scale(1);
    }

    &:focus ~ .Control .Box,
    &:active ~ .Control .Box {
      box-shadow: 0 0 0 1px color(blue);
      border: 1px solid color(blue);
    }
  }

  &:disabled  ~ .Control .Box {
    background: color(gray, 9);
  }
  &:disabled  ~ .Control .Box,
  &:disabled  ~ .Control .Check {
    cursor: not-allowed;
  }
}

.Control {
  display: inline-block;
  vertical-align: top;
  &:hover {
    cursor: pointer;
  }
}

.Box, .Check {
  transition: 0.15s;
}

.Box {
  position: relative;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border: 1px solid color(gray, 6);
  border-radius: border-radius();
}

.Check {
  position: absolute;
  top: 3px;
  left: 3px;
  stroke-width: 3px;
  stroke: color(blue);
  fill: color(blue);

  opacity: 0;
  transform: scale(0.5);
}

.Label {
  display: inline-block;
  vertical-align: top;
  padding-left: 9px;
  margin-top: 1px;
  line-height: 18px;
  white-space: nowrap;
}

.Group {
  display: block;
  margin-bottom: spacing();

  & > * {
    margin-bottom: 0;
  }

  &:last-child {
    margin: 0;
  }
}

.GroupLabel {
  padding-bottom: spacing(small);
}

.HelpText {
  font-size: font-size(300);
  line-height: line-height(300);
  color: color(gray, 4);
  padding-left: 27px;
}
