@import '../../styles/config';

.Error {
  padding-top: spacing(small);
}

.Icon {
  float: left;
  margin-right: rem(5);
  fill: color(red);
  line-height: rem(15);
}

.Message {
  display: inline-block;
  vertical-align: top;
  font-size: font-size(300);
  line-height: rem(15);
  font-weight: 500;
  color: color(red);
}
