@import '../../styles/config';

.Modal {
  position: fixed;
  z-index: z-index(overlay);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(color(gray, 2), 0.6);

  opacity: 0;
  pointer-events: none;
  transition: 0.1s
}

.open {
  opacity: 1;
  pointer-events: auto;

  .Content {
    transform: translate(0, 0);
  }
}

.Content {
  max-width: breakpoint(small);
  transform: translate(0, 9px);
  transition: 0.1s ease-out;
}

.Grid {
  height: 100%;
}
