@import '../../styles/config';

.Modal {
  position: fixed;
  z-index: z-index(overlay);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;
  transition: 0.1s;
  will-change: opacity, transform;
  overflow-y: auto;
  max-height: 100vh;
}

.open {
  opacity: 1;
  pointer-events: auto;

  .Content {
    transform: translate(0, 0);
  }
}

.Content {
  max-width: breakpoint(medium);
  margin: rem(80) 0;
  transform: translate(0, 9px);
  transition: 0.1s ease-out;
}

.Grid {
  min-height: 100%;
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(color(gray, 2), 0.7);
}
