@import './tokens.scss';
@import '~normalize.css';
@import '~@sparkpost/matchbox/styles.scss';

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-Light.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-LightItalic.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre.woff2') format('woff2'),
        url('/fonts/calibre/Calibre.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-Italic.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-Medium.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-MediumItalic.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-SemiBold.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-SemiBoldItalic.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

/* @font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-Bold.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('/fonts/calibre/Calibre-BoldItalic.woff2') format('woff2'),
        url('/fonts/calibre/Calibre-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
} */

html {
  font-family: font-family(base);
  font-size: 16px;
  line-height: line-height(400);
}

body {
  color: color(gray, 100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
  color: color(gray, 100);
}

h1, h2 {
  font-size: font-size(800);
  line-height: line-height(800);
}

h3, h4 {
  font-size: font-size(600);
  line-height: line-height(600);
}

h5,
h6 {
  font-size: font-size(500);
  line-height: line-height(500);
}

p {
  font-size: font-size(400);
  line-height: line-height(400);
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol,
li {
  font-size: font-size(400);
  line-height: line-height(400);
}

b,
strong {
  font-weight: 600;
}

hr {
  border: none;
  height: 2px;
  background: color(gray, 700);
  margin: spacing(900) 0;
}

a,
a:visited {
  color: color(gray, 100);
  &:hover {
    color: color(gray, 100);
  }
}

main {
  a,
  a:visited {
    color: color(blue);
    font-weight: 500;

    &:hover {
      color: color(blue);
      text-decoration: underline;
    }
  }

  p {
    font-size: font-size(400);
    line-height: line-height(400);
  }

  code {
    font-size: 14px;
  }

  small {
    font-size: font-size(300);
    line-height: line-height(300);
    color: color(gray, 300);
  }
}
