@import './tokens.scss';
@import '~normalize.css';
@import '~@sparkpost/matchbox/styles.scss';

html {
  font-family: font-family(base);
  font-size: 18px;
}

body {
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #000;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5,
h6 {
  font-size: 16px;
}

p {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 1rem;
}

ul,
ol,
li {
  font-size: 18px;
}

b,
strong {
  font-weight: 600;
}

hr {
  border: none;
  height: 2px;
  background: #eee;
  margin: 2rem 0;
}

a,
a:visited {
  color: #000;
  &:hover {
    color: #000;
  }
}

main {
  a,
  a:visited {
    color: #0000ff;
    &:hover {
      color: #0000ff;
      text-decoration: underline;
    }
  }

  p {
    line-height: 1.2em;
  }

  code {
    font-size: 14px;
  }
}
