@import '../../styles/config';

.Pagination {
  margin-bottom: spacing();
}

.Back {
  margin-right: spacing(small);
}

.Next {
  margin-left: spacing(small);
}

.Pages {
  display: inline-block;
}

.Page, .Start, .End {
  color: color(gray, 3);
  min-width: rem(42);
}

.Selected {
  font-weight: 600;
  pointer-events: none;
}

.color-orange {
  color: color(orange);
}

.color-blue {
  color: color(blue, dark);
}

.color-navy {
  color: color(navy, light);
}

.color-purple {
  color: color(purple, light);
}

.color-red {
  color: color(red, light);
}

.Ellipse {
  margin-left: spacing(small);
  margin-right: spacing(small);
  fill: color(gray, 6);
}
