@import '../../styles/config';

.Connect {
  display: flex;
}

.Primary {
  flex: 1 0;
  *:focus {
    position: relative;
    z-index: 1;
  }
}

.hasLeft > * {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.hasRight > * {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.Left, .Right {
  flex: 0 0 auto;
  *:focus {
    position: relative;
    z-index: 1;
  }
}

.Left {
  margin-right: -1px;
  * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.Right {
  margin-left: -1px;
  * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
