@import '~@sparkpost/design-tokens/tokens.scss';

.Header {
  display: flex;
  align-items: baseline;
  margin-bottom: spacing(700);
  padding: spacing(800) 0;
}

.Title {
  flex: 0 0 0;
  text-decoration: none;
  color: color(gray, 100);
}

.TitleText {
  font-size: font-size(500);
  font-weight: font-weight(semibold);
  margin: 0;
}

.NavWrapper {
  flex: 1 0 0;
}
