.Header {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
  padding: 3rem 0;
}

.Title {
  flex: 0 0 0;
  text-decoration: none;
  color: #000;
}

.TitleText {
  font-size: 24px;
}

.NavWrapper {
  flex: 1 0 0;
}
