@import '../../styles/config';

.Select {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 0 spacing() 0;

  &:last-child {
    margin: 0;
  }
}

.error .Input {
  border: 1px solid color(red);
  background: rgba(color(red, dark), 0.06);
}

.InlineError {
  padding-left: spacing(small);
}

.Input {
  appearance: none;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;

  padding: rem(5) rem(27) rem(5) rem(12);

  outline: none;
  border: 1px solid color(gray, 7);
  border-radius: border-radius();
  background: linear-gradient(180deg, color(gray, 10), color(gray, 9));

  color: color(gray, 1);
  font-weight: 400;
  font-size: font-size(400);
  line-height: rem(24);

  box-shadow: shadow();

  transition: border 0.15s;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border: 1px solid color(blue);
    box-shadow: 0 0 0 1px color(blue);
  }

  &:disabled {
    background: color(gray, 9);
    color: color(gray, 5);
    cursor: not-allowed;
  }
}

// Firefox doesn't respect line-height of <select>
// @see https://bugzilla.mozilla.org/show_bug.cgi?id=1241167
@-moz-document url-prefix() {
  .Input {
    height: rem(36);
  }
}

.Dropdown {
  position: absolute;
  z-index: 1;
  top: rem(30);
  right: rem(9);
  pointer-events: none;
  fill: color(gray, 4);
}

.labelHidden {
  top: rem(9);
}

.HelpText {
  padding-top: rem(6);
  font-size: font-size(300);
  line-height: line-height(300);
  color: color(gray, 4);
}
