@import '../../styles/config';

.Input {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;

  padding: rem(5) rem(12);

  outline: none;
  border: 1px solid color(gray, 7);
  border-radius: border-radius();

  color: color(gray, 1);
  font-weight: 400;
  font-size: rem(15);
  line-height: rem(24);

  transition: border 0.15s;

  &:hover {
    // border: 1px solid color(gray, 5);
  }

  &:focus {
    border: 1px solid color(blue);
    box-shadow: 0 0 0 1px color(blue);
  }
}

.error {
  border: 1px solid color(red);
  background: rgba(color(red, dark), 0.06);
}
