@import '../../styles/config';

.ProgressBar {
  position: relative;
  margin-bottom: rem(18);
  height: rem(21);
  background: color(gray, 8);
  border-bottom: 1px solid color(gray, 7);
  border-radius: border-radius();
}

.Progress {
  height: rem(21);
  background: color(orange);
  border-radius: border-radius();
  box-shadow: shadow();
  border-bottom: 1px solid color(orange, dark);
}
