@import '../../styles/config';

.Page {
  margin-bottom: spacing();
}

.MainContent {
  display: flex;
  align-items: center;
}

.Title {
  flex: 1 0 0;
  margin-bottom: 0;
  padding: spacing(small) 0;
  @include text-style-display-heading;
}

.PrimaryAction {
  flex: 0 0 0;
}

.SecondaryActions {
  margin-top: rem(-6);
}

.SecondaryAction {
  display: inline-block;
  padding: 0;
  margin-right: rem(21);

  color: color(gray, 4);
  font-size: rem(14);
  transition: 0.15s;

  &:hover {
    color: color(gray, 2);
  }
}

.Breadcrumb {
  margin-left: rem(-3);
  margin-bottom: spacing();
  text-decoration: none;
  outline: none;

  *:first-child {
    margin-top: -2px;
  }
}
