@import '../../styles/config';

.CodeBlock {
  position: relative;
  font-family: font-family(monospace);
  color: color(gray, 2);
  background: color(gray, 9);
  font-size: rem(13);
  line-height: rem(24);
}

.Code {
  padding: spacing(small) spacing() spacing(large) rem(50);
  position: absolute;
}

.PrefixWrapper {
  position: absolute;
  top: rem(8);
  left: rem(15);
}

.LineChevron {
  display: block;
  margin: 0;
  height: rem(22.9);
  fill: color(gray, 6);
}

.LineNumber {
  display: block;
  text-align: right;
  margin: 0;
  height: rem(22.9);
  font-size: rem(12);
  color: color(gray, 6);
}
