@import '../../styles/config';

.Banner {
  position: relative;
  display: flex;
  padding: spacing();

  border-radius: border-radius();
  box-shadow: shadow();

  background: color(gray, 9);
  border: 1px solid color(gray, 7);

  &:before {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    content: '';
    height: 3px;
    background: color(gray, 6);
    border-radius: border-radius() border-radius() 0 0;
  }
}

.success {
  background: rgba(color(green), 0.1);

  &:before {
    background: rgba(color(green), 0.8);
  }
}

.info {
  background: rgba(color(blue), 0.1);

  &:before {
    background: rgba(color(blue), 0.7);
  }
}

.warning {
  background: rgba(color(mustard), 0.1);

  &:before {
    background: rgba(color(mustard), 0.7);
  }
}

.danger {
  background: rgba(color(red, dark), 0.1);

  &:before {
    background: rgba(color(red, dark), 0.6);
  }
}

.IconWrapper {
  flex: rem(48) 0;
  height: rem(48);
}

.Content {
  flex: 1 0;
  padding-right: rem(39);
}

.Title {
  margin-bottom: spacing(small);
}

.Actions {
  margin-top: spacing();
}

.Icon {
}

.successIcon {
  fill: darken(color(green), 14);
}

.infoIcon {
  fill: darken(color(blue), 8);
}

.warningIcon {
  fill: darken(color(mustard), 1);
}

.dangerIcon {
  fill: rgba(color(red, dark), 0.9);
}
