@import '../../styles/config';

.Banner {
  position: relative;
  display: flex;
  padding: spacing();
  margin-bottom: spacing();

  border-radius: border-radius();
  box-shadow: shadow();

  background: color(gray, 9);
  border: 1px solid color(gray, 8);

  &:before {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    content: '';
    height: 4px;
    background: color(gray, 6);
    border-radius: border-radius() border-radius() 0 0;
  }
}

.success {
  background: lighten(color(green), 39) ;

  &:before {
    background: color(green);
  }
}

.info {
  background: lighten(color(blue), 43) ;

  &:before {
    background: color(blue);
  }
}

.warning {
  background: lighten(color(mustard), 52) ;

  &:before {
    background: color(mustard);
  }
}

.danger {
  background: lighten(color(red, dark), 43) ;

  &:before {
    background: color(red, dark);
  }
}

.fixed {
  position: absolute;
  top: rem(15);
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: shadow(deep);
  border: 1px solid rgba(color(gray, 7), 0.5);
}

.IconWrapper {
  position: relative;
  flex: rem(57) 0;
  height: rem(40);
}

.Content {
  flex: 1 0;
  padding-top: rem(9);
  padding-right: rem(39);

  & > *:last-child {
    margin-bottom: 0;
  }
}

.Title {
  margin-bottom: 0;
}

.Actions {
  margin-top: spacing();
}

.Icon {
  position: relative;
  top: rem(5);
  left: rem(4.5);
  z-index: 1;
}

.successIcon {
  fill: darken(color(green), 8);

  & + .IconBackdrop {
    box-shadow: 0 0 0 7px rgba(color(green), 0.25);
  }
}

.infoIcon {
  fill: darken(color(blue), 8);

  & + .IconBackdrop {
    box-shadow: 0 0 0 7px rgba(color(blue), 0.15);
  }
}

.warningIcon {
  fill: lighten(color(mustard), 2);

  & + .IconBackdrop {
    box-shadow: 0 0 0 7px rgba(color(mustard), 0.15);
  }
}

.dangerIcon {
  fill: saturate(color(red, dark), 12);

  & + .IconBackdrop {
    box-shadow: 0 0 0 7px rgba(color(red), 0.15);
  }
}

.IconBackdrop {
  position: absolute;
  top: rem(8);
  left: rem(8);
  width: rem(24);
  height: rem(24);
  border-radius: 50%;
  background: color(gray, 10);
}

.Dismiss {
  position: absolute;
  right: rem(18);
  top: rem(24);
  border-bottom: none;
  user-select: none;

  &:hover {
    .DismissIcon {
      fill: color(gray, 1);
    }
  }
}

.DismissIcon {
  fill: color(gray, 4);
}
